# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/
*.env
.main/

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Ignore secret or environment files
.env
.env.*

# Ignore compiled notebooks
*.nbconvert.ipynb

# Ignore data files
datasets/
Functions/
